{% extends "base.html" %}
{% block main %}

<h1>About Us</h1>
<p>Our project is Heart Monitoring and Care System. Heart or Cardiovascular disease is one of the fatal disease in the world, but it can be controlled by utilization of the previous medical records of the patients. With the help of machine learning we can predict the chances of Heart Diseases amongst people.

In this we use attributes such as age, blood pressure, heart rate etc and fed them into the algorithms to predict the risk of heart disease in people with the help of Machine Learning.</p>

<p>Heart Monitoring and Care System is a Machine learning project integrated with Django framework. In this system user will input attributes such as age , blood pressure and heart rate and by using these attributes the system can predict if the person has any heart disease or not by using Large data set. The system will also contain Medical help modules for the user. This system will be beneficial for people to detect heart disease chances at the earliest.</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}